a:12:{s:4:"font";s:3:"7.9";s:5:"scale";s:3:".46";s:5:"width";s:5:"22.50";s:6:"height";s:5:"15.30";s:4:"cols";s:1:"9";s:4:"rows";s:2:"14";s:11:"margin-left";s:1:"1";s:10:"margin-top";s:4:"0.20";s:12:"margin-right";s:4:"0.90";s:13:"margin-bottom";s:4:"0.10";s:7:"space-y";s:4:"0.20";s:7:"space-x";s:4:"0.30";}