body { background:#f0f0f0; }

#cont {
	position:relative;
	padding:0 1em;
}

#cont > header h1 {
	margin-top:.5em;
	font-size:2.5em;
	color:#eee;
}

#cont > section {
	position:relative;
	width:100%;
	text-align:center;
}

#cont section > * {
	position:relative;
	margin-bottom:1.5em;
	text-align:left;
	overflow:visible !important;
}

#cont section > div.category {
	position:absolute;
	right:.4em;
	top:-4em;
}

#cont section > div.category label {
	width:auto !important;
	display:inline-block !important;
}

#cont section > fieldset > div {
	width:100%;
	margin-top:1em;
}

fieldset legend + div {
	margin-top:0 !important;
}


fieldset.small {
	width:33%;
	min-width:175px;
	margin:0 auto;
}

.error input {
	border-color:#C66;
	background-color:#FDD;
	color:#611 !important;
}
.error .ui-label-help {
	background:#C66;
}

.error label,
.error i
{
	color:#611 !important;
}

#product-upload { padding-top:1.5em; }
#product-upload > * { vertical-align:top; padding-bottom:0 !important; }

#product-upload .ui-fileupload {
	width:auto !important;  margin:0;
	float:right;
}

#product-upload .placeholder {
	display:block;
	position:relative;
	border:2px dashed rgba(0,0,0, 0.15);
	background-color: rgba(0,0,0, 0.05);
	border-radius:.5em;
	width:500px;
	min-height:3em;
	float:left;
}

#product-upload .placeholder.hasimg {
	border:0;
}

#product-upload .placeholder img {
	border-radius:.25em;
	width:100%;
	position:relative;
	margin:0;
	padding:0;
	display:block;
}

.divide {float:left;}

textarea.cont { height:11.2em; }

textarea.keyw { height:1.4em; }

#product-upload:after,
#cont > section:after
{
	content:".";
	position:relative;
	display:block;
	overflow:hidden;
	width:0px;
	height:0px;
	clear:both;
}

div.submit {
	display:inline-block;
}
