a:12:{s:4:"font";s:1:"6";s:5:"scale";s:3:".45";s:5:"width";s:5:"22.50";s:6:"height";s:5:"15.30";s:4:"cols";s:1:"8";s:4:"rows";s:2:"14";s:11:"margin-left";s:5:"01.00";s:10:"margin-top";s:5:"00.20";s:12:"margin-right";s:5:"00.90";s:13:"margin-bottom";s:5:"00.10";s:7:"space-y";s:5:"00.30";s:7:"space-x";s:5:"00.20";}