/**
 * @created 2011/AUG/30 20:12
 */

html.no-js .consola { display:none; }

section { max-width:12em; }

footer {
padding-top:0 !important;
}

form > div{
	width:100%;
}
p {
	position:absolute;
	overflow:visible;
	font-size:.85em;
	border:1px solid #933;
	border-radius:4px;
	background:#FDD;
	text-align:center;
	color:#944;
	padding:.5em 1em;
	top:110%;
}
