body,html { width:100%; height:100%; }

#auth {
	position:absolute;
	left  :50%;
	top   :50%;
	width :50%; 
	height:50%;
}

form  {
	position:absolute;
	top   :-50%;
	left  :-50%;
	width :100%;
	height:100%;
}

form > div {
	position:absolute;
	top :25%;
	left:25%;
	padding:1em;
	border:1px solid #ccc;
	border-radius:.5em .5em 0 .5em; background:#EFEFEF;
}

form > div > input {
	position:absolute;
	padding:.25em .5em;
	bottom:-1.8em;
	right:-.1em;
	background:#CCC;
	border:0;
	border-radius:0 0 .25em .25em;
	font-size:.8em;
	font-weight:bold;
	color:#666;
}
form > div > div input {
    position:relative;
    display:block;
    width:8em;
    z-index:0;
    border:1px solid #CCC;
	border-radius:.15em;
    font-size:1.5em;
    color:#06C;
    text-indent:.2em;
}
form > div > div:first-child input { margin-bottom:.75em; }
label {
	z-index:1; display:block; position:absolute; font-size:1em;
}