<?php

define('FONTS', PUB_URL.'fonts/');

$color = array();
$color['bg']          = '#222';
$color['white']       = '#FFF';
$color['border']      = '#C00';
$color['second']      = '#0AD';
$color['borderBG']    = '#600';
$color['linkHead']    = '#DDD';
$color['linkProduct'] = '#DDD';

$bodyWidth = 950;
$contentSpace = 50;
$bannerBorder = "10px solid {$color['border']}";
$headerHeight = 100;
$headerFontSize = 2.8;
$headerNavFontSize = .96;

$prod = array(array(), array());
$prodMargin = $contentSpace/8;

$prod[0]['columns'] = 2;
$prod[1]['columns'] = 1;

?>

body, html {
    width:100%;
    height:100%;
}

body {
    background:
    black url(<?=PUB_URL?>main.background.jpg) center;
}

@font-face {
    font-family:'KoratakiRegular';
    src:    url('<?=FONTS?>korataki-webfont.eot');
    src:    url('<?=FONTS?>korataki-webfont.eot?#iefix') format('embedded-opentype'),
            url('<?=FONTS?>korataki-webfont.woff') format('woff'),
            url('<?=FONTS?>korataki-webfont.ttf') format('truetype'),
            url('<?=FONTS?>korataki-webfont.svg#KoratakiRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

b { font-weight:bold;}

#overlay       { z-index:9999; position:absolute; text-align:center !important; top:0; left:0; width:100%; height:100%; background:<?=$color['bg']?>; display:none;}
#overlay > div { position:absolute; top:50%; left:50%; padding:30px; background:#FFF; font-family:'KoratakiRegular'; color:<?=$color['bg']?>; border:10px solid <?=$color['border']?> }

#body                       { position:absolute; width:<?=$bodyWidth?>px; height:100%; background:<?=$color['bg']?>; left:50%; margin-left:-<?=$bodyWidth/2?>px; }
#body > *                   { position:relative; width:100%;  }
#body > header              { height:<?=$headerHeight?>px; }
#body > header > *          { position:absolute;  top:50%; font-family:'KoratakiRegular';}
#body > header   a          { text-decoration:none; color:<?=$color['linkHead']?>; } 
#body > header h1           { left: <?=$contentSpace/2?>px; font-size:<?=$headerFontSize-.6?>em; line-height:1em; margin-top:-.5em; }
#body > header h1 a:hover   { color:<?=$color['second']?>;}
#body > header h1 span      { display:none; }
#body > header nav          { right:<?=$contentSpace/2?>px; overflow:hidden; font-size:<?=$headerNavFontSize?>em; line-height:2em; margin-top:-1em }
#body > header nav li       { line-height:inherit; font-size:inherit; position:relative; display:block; float:left; margin-left:.5em; }
#body > header nav  a.curr  { color:<?=$color['second']?>;}
#body > header nav  a       { line-height:inherit; display:block; font-size:inherit; padding:0 .5em; }
#body > header nav  a:hover { background:<?=$color['border']?>; color:<?=$color['white']?>; }

#body > footer      { text-align:center; color:#DDD; background:#222; cursor:default !important; padding:25px 0; }
#body > footer div  { margin-bottom:1em; }
#body > footer span { font-family:'KoratakiRegular'; opacity:.1; }

.social                      { width:24px; height:24px; overflow:hidden; padding:0 !important; margin:0; font-size:0 !important;   }
#facebook, #facebook a:hover { background:url(facebook.png) center center  !important; background-size:24px 24px !important; }
#twitter,  #twitter  a:hover { background:url(twitter.png)  center center !important;  background-size:24px 24px !important; }
#twitter                     { margin:0 10px 0 10px !important; }

#page         { overflow:hidden; font-size:0; border:<?=$bannerBorder?>; background:<?=$color['white']?>; border-left:0; border-right:0; }
#page .image, 
#page .cont   { display:inline-block; vertical-align:top; margin-right:<?=$contentSpace/2?>px; }

.ie-lt8 #page .cont,
.ie8    #page .cont { zoom:1; display:inline; }

#page .image  { width:500px; }
#page .cont   { width:<?=($bodyWidth-500 - $contentSpace )?>px;  color:<?=$color['bg']?>;  font-size:13px; padding-bottom: <?=$contentSpace/3?>px }
#page p       { font-size:1.1em; margin-bottom:1em; font-family:"lucida grande",tahoma,verdana,arial,sans-serif; }
#page h2      { text-align:right; margin:20px 0 <?=$contentSpace/2?>px; font-family:'KoratakiRegular'; font-size:<?=$headerFontSize/1.5?>em; color:<?=$color['bg']?>; }
#page h3      { font-family:'KoratakiRegular'; font-size:14px;}

#body.index #banner                          { cursor:default !important; }
#body.index #banner img                      { display:none; width:100%;  }
#body.index #banner img:first-child          { display:block; }
#body.index h2                               { position:absolute; }
#body.index #content                         { margin-top:0; border:0; background:#FFF; }
#body.index #content > div                   { padding:0 25px; padding-top:25px; padding-bottom:50px; overflow:hidden; }
#body.index #content aside h2                { font-family:'KoratakiRegular'; }
#body.index #content aside                   { position:relative; float:left; width:300px; }
#body.index #content aside:first-child       { width:593.75px; }
#body.index #content.force aside:first-child { width:900px; }
#body.index #content aside > *               { position:relative; display:block; width:auto; }
#body.index #content aside h2 a              { color:#222; text-decoration:none; margin-left:.5em; }
#body.index #content aside h2 a:hover        { color:#0AD; }
#body.index #content aside ul                { overflow:hidden; }
#body.index #content aside li                { width:293.75px; display:block; position:relative; float:left; margin:6.25px; }
#body.index #content aside:first-child li    { width:281.25px; }
#body.index #content aside li a              { width:auto; font-weight:bold; display:block; line-height:1em; padding:1em; border-radius:.25em; color:#222; background-color:#DDD; display:block; text-decoration:none; font-size:1.1em; font-family:"lucida grande",tahoma,verdana,arial,sans-serif; }
#body.index #content aside li a:hover        { color:#FFF; background-color:#C00; }

#body.contact-us h2          { margin-bottom:0; }
#body.contact-us form        { display:block; width:100%; }
#body.contact-us input,
#body.contact-us select,
#body.contact-us textarea    { display:block; width:100%; margin-bottom:.5em; border:1px solid #999; background:#FFF; line-height:1.5em;}
#body.contact-us label span  { color:#666;}
#body.contact-us #submit     { background-color:<?=$color['second']?> !important; border:0 !important; font-weight:bold; color:#FFF; line-height:1.5em; width:auto !important; font-size:1.2em; position:relative; margin:0 auto; }
#body.contact-us aside.image { height:100%; background:url(logo.gif) center no-repeat; }
#body.contact-us img.image   { margin:25px; width:475px; }

#overlay.contact-us          { font-size:2em; }

#body.authentic .left          { width:673px; margin-left:20px; padding:25px 0; float:left; }
#body.authentic .left .cont h2 { margin-right:25px; margin-bottom:0;}
#body.authentic .left h3 { color:#999; position:absolute; width:10.5em; text-align:center; left:195px; top:100px;}

#body.authentic .arrow { margin:0 <?=$contentSpace/3?>px; }
#body.authentic .image,
#body.authentic .cont      { width:100%;  display:block; }
#body.authentic .image     { height:100%; margin:0; }
#body.authentic .image img { vertical-align:middle; }

#body.authentic .right                { width:211px; float:right; margin-right:25px;   }
#body.authentic .right h3             { margin-bottom:15px; width:100%; text-align:center;  font-family:'KoratakiRegular';  color:#FFF; font-weight:1.1em; }
#body.authentic #verify               { width:180px; background:<?=$color['border']?>; margin-top:15px; display:block; position:relative; font-size:13px; padding:15px; }
#body.authentic #verify label         { margin-top:5px; display:block; position:relative; width:100%; font-weight:bold; color:<?=$color['bg']?>}
#body.authentic #verify .input  input { border:1px solid <?=$color['bg']?>; width:100%; font-family: "Andale Mono", "Lucida Console", monospace; font-size:1.3em}
#body.authentic #verify .submit       { text-align:center; }
#body.authentic #verify .submit input { border:0; background:<?=$color['second']?>; font-weight:bold; font-size:1.2em; padding-top:.25em; color:#FFF; margin-top:10px; }

#overlay.authentic p  { font-size:14px !important; } 
#overlay.authentic h3 { font-size:28px !important; margin-bottom:1em; } 
#overlay.authentic h4 { font-size:20px !important; margin-bottom:1em; }

#body.products .image               { margin-top:25px; margin-left:25px; margin-bottom:25px; }
#body.products .cont                { width:375px; }
#body.products .cont em             { font-style:italic; }
#body.products .cont ins            { text-decoration:underline; }
#body.products .cont header         { text-align:right; margin-bottom:25px; }
#body.products .cont header a:hover { color:<?=$color['border']?> }
#body.products .cont header h2      { margin-bottom:0; }
#body.products .cont header h2 a    { color:<?=$color['bg']?> }
#body.products .cont header h3 a    { color:<?=$color['second']?>; font-size:15px; text-transform:uppercase;}
#body.products .cont header a       { text-decoration:none;  }
#body.products .cont footer         { position:absolute; bottom:<?=$contentSpace/2?>px; right:<?=$contentSpace/2?>px; margin-top:1.5em; }
#body.products .cont footer a       { color:<?=$color['bg']?>; text-decoration:none; padding:.5em; font-weight:bold; font-family:"lucida grande",tahoma,verdana,arial,sans-serif;  font-size:1.1em; }
#body.products .cont footer a:hover { background:<?=$color['border']?>; color:<?=$color['white']?>; }
#body.products .cont section        { padding-bottom:30px; }

#body > header nav a:hover,
#body.authentic #verify,
#overlay > div,
#body.products .cont footer a
{ 
    -moz-border-radius:5px;  -khtml-border-radius:5px; -webkit-border-radius:5px;  border-radius:5px;
}

